# ANSWER 1 
IN Python , A set is an unordered collection of unique elements. It is defined by enclosing comma-separated elements within curly braces {} or by using the set() constructor function.

In [6]:
#                                      ANSWER 2
# In Python, you can create a set by enclosing comma-separated elements within curly braces {} or by using the set() constructor function. 
my_set = {1,2,2,5,5}
my_set

{1, 2, 5}

#                                   ANSWER 3 
In Python, you can add elements to a set using the add() method or by using the update() method.

In [9]:
# ANSWER 3 CONTINUE EXAMPLE 
my_set1 = {1, 2, 3}  
my_set1.add(45)  
print(my_set1)

{1, 2, 3, 45}

In [11]:
# ANSWER 3 CONTINUE EXAMPLE 
my_set2 = {1, 2, 3}  
my_set2.update([4, 5, 6]) 
print(my_set2)

{1, 2, 3, 4, 5, 6}

In [13]:
#                                             ANSWER 4
my_set2.remove(3)  
print(my_set2)

{1, 2, 4, 5, 6}

In [17]:
#                                             ANSWER 5
set_animal = {"Donkey","Tiger","Panther","Leopard","Cheetah","Elephant","Polar","bear","Turtle","Crocodile"}
len(set_animal)

10